@using SLK.Common
@inherits MyWebPage
@functions {
    [Component(
        Type = ComptType.Page_Template,
        ComptName = "en:Page contact template|vi:Mẫu trang liên hệ")]
    public class ViewModel
    {
        public IDictionary<string, string> Phrases { get; set; } = new Dictionary<string, string>();

        public string Title { get; set; }

        public string MetaDescription { get; set; }

        public string MetaKeywords { get; set; }




        public class Contact
        {
            [Field(
Title = "Hình ảnh",
Required = false,
Control = InputControlType.Image)]
            public string Iamge { get; set; }

        }
        [Field(
Title = "Liên hệ")]
        public Contact contact { get; set; }

        public static ViewModel Default => new ViewModel()
        {
            Title = "Liên hệ",
        };
    }/*end_viewmodel*/
    private ViewModel _data;
    private ViewModel Data => _data ?? (_data = ViewModel.Default);
    private MyTranslator Text => new MyTranslator(Data?.Phrases);
    private FieldExtractor<PP_Contact> field = new FieldExtractor<PP_Contact>();
    private PP_Contact model = new PP_Contact() { Status = "NEW" };
}
@{
    var query = Request.Url.Query;

    if (IsPost && query == "?contact")
    {
        new Func<Action>(() =>
        {
            try
            {
                AntiForgery.Validate();
                string captcha = Request.Form[nameof(captcha)].ToLower();
                Validation.RequireField(field.GetName(t => t.Name));
                Validation.RequireField(field.GetName(t => t.Email));
                Validation.Add(field.GetName(t => t.Email), Validator.Regex("^[a-zA-Z0-9_\\.-]+@([a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,6}$"));
                if (!Validation.IsValid())
                {
                    return AjaxResult.BadRequest("Hãy nhập đầy đủ thông tin!");
                }

                if (captcha != this.Context.Session["CaptchaVerify"].ToString())
                {
                    return AjaxResult.BadRequest("Capcha không hợp lệ!");
                }
                var model = new PP_Contact() { Status = "NEW" };
                model.Name = Request.Form[field.GetName(t => t.Name)].NullIfWhiteSpace();
                model.Email = Request.Form[field.GetName(t => t.Email)].NullIfWhiteSpace();
                model.Message = Request.Form[field.GetName(t => t.Message)].NullIfWhiteSpace();
                model.ProcessNote = Request.Form[field.GetName(t => t.Email)].NullIfWhiteSpace();
                Db.Insert<PP_Contact>(model);
                SendMail sm = new SendMail();
                string body = @"
       <!DOCTYPE html>
       <html lang=""en"">
       <head>
       <meta charset=""UTF-8"">
       <meta name=""viewport"" content=""width=device-width, initial-scale=1.0"">
       <title>Xác nhận thông tin</title>
       <style>
       body {
       font-family: Arial, sans-serif;
       margin: 0;
       padding: 0;
       background-color: #f2f2f2;
       }
       .container {
       width: 60%;
       margin: 20px auto;
       background-color: #fff;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       padding: 20px;
       }
       h1 {
       color: black;
       }
       .info {
       margin-bottom: 20px;
       }
       .info p {
       margin: 5px 0;
       }
       .info strong {
       font-weight: bold;
       }
       .center-image {
       display: block;
       margin: 0 auto; /* Căn giữa hình ảnh */
       }
       </style>
       </head>
       <body>

       <div class=""container"">
       <h1>Xác nhận thông tin</h1>
       <div class=""info"">
       <p><strong>Nội dung:</strong> Thông tin khách hàng liên hệ</p>
       <p><strong>Họ tên:</strong> " + model.Name + @"</p>
       <p><strong>Email:</strong> " + model.Email + @"</p>
       <p><strong>Nội dung:</strong> " + model.Message + @"</p>
      
       </div>

       </div>

       </body>
       </html>";
                string results = sm.Send_Mail("Khách hàng liên hệ", body, Root.Config.Company.Email);
                Response.Write("Cám ơn bạn đã gửi thông tin, chúng tôi sẽ phản hồi cho bạn sớm nhất có thể!");
                return () => Response.End();
            }
            catch (Exception ex)
            {
                return AjaxResult.BadRequest("Đã có lỗi xảy ra!");
            }
        })()();
    }
    _data = LoadData<ViewModel>(key: $"{LangId}-{FileName}#{NodeSlug}", setup: (model) =>
    {
        model = model ?? new ViewModel();

        var page = Db.GetOne<PP_Page>(PageId);

        if (page == null)
        {
            return model;
        }

        model.Title = page.Title;
        model.MetaDescription = page.MetaDescription;
        model.MetaKeywords = page.MetaKeywords;

        return model;
    });

    Layout = $"~/_layouts/_layout.cshtml";
    Page.Title = Data.Title;
    Page.Description = Data.MetaDescription;
    Page.Keywords = Data.MetaKeywords;
}
<div class="page_content_wrap p-0 ">
    <div class="top_panel_title sc_layouts_row sc_layouts_row_type_normal  border-bottom">
        <div class="content_wrap">
            <div class="sc_layouts_column sc_layouts_column_align_center">
                <div class="sc_layouts_item">
                    <div class="sc_layouts_title sc_align_center">
                        <div class="sc_layouts_title_title">
                            <h1 itemprop="headline" class="sc_layouts_title_caption">
                                @Data.Title
                            </h1>
                        </div>
                        <div class="sc_layouts_title_breadcrumbs"><div class="breadcrumbs"><a class="breadcrumbs_item home underline_hover" href="@Root.Config.MainMenus.FirstOrDefault().Href">@Root.Config.MainMenus.FirstOrDefault().Title</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">@Data.Title</span></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content_wrap pb-lg-3 pb-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <div id="form-message-success" class="mb-4">
                                        Your message was sent, thank you!
                                    </div>
                                    <div class="row mb-4">

                                        <div class="col-md-6">
                                            <div class="dbox w-100 d-flex align-items-start">
                                                <div class="text">
                                                    <p><span>Email:</span> <a href="mailto:@Root.Config.Company.Email">@Root.Config.Company.Email</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="dbox w-100 d-flex align-items-start">
                                                <div class="text">
                                                    <p><span>@(LangId == "en" ?  "Phone" :"SĐT"):</span> <a href="tel:@Root.Config.Company.ContactPhone"> @Root.Config.Company.ContactPhone </a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="dbox w-100 d-flex align-items-start">
                                                <div class="text">
                                                    <p><span>@(LangId == "en" ? "Address" : "Địa chỉ"):</span>@Root.Config.Company.Address</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate">
                                        @AntiForgery.GetHtml()
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="@field.GetName(x=>x.Name)" id="name" placeholder="@(LangId == "en" ? "Name" : "Tên")" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="@field.GetName(x=>x.Email)" id="email" placeholder="Email" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="@field.GetName(x=>x.ProcessNote)" id="subject" placeholder="@(LangId == "en" ? "Subject" : "Tiêu đề")" required>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea name="@field.GetName(x=>x.Message)" class="form-control" id="message" cols="30" rows="4" placeholder="@(LangId == "en" ? "Message" : "Ghi chú")" required></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" value="@(LangId == "en" ? "Send Message" : "Gửi")" class="btn btn-primary contact-button">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="w-100 social-media mt-5">
                                        <h3>@(LangId == "en" ? "Follow us here" : "Theo dõi chúng tôi")</h3>
                                        <p>
                                            <a href="@Root.Config.LinkFacebook">Facebook</a>
                                            <a href="@Root.Config.LinkTwitter">Twitter</a>
                                            <a href="@Root.Config.LinkInstagram">Instagram</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-stretch">
                                <div class="info-wrap w-100 p-5 img" style="background-image: url(@Data.contact.Iamge);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <iframe src="@Root.Config.Company.Map" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
          $(document).ready(function () {
      $(document).on("click", ".contact-button", function () {
              event.preventDefault();
              Swal.fire({
               title: 'Nhập mã captcha',
         input: 'text',
         inputAttributes: {
             autocapitalize: 'off'
         },
         imageUrl: '/captcha.ashx',
         imageWidth: 300,
         imageHeight: 150,
               showCancelButton: true,
               confirmButtonText: 'Ok',
                  showLoaderOnConfirm: true,
               preConfirm: (value) => {
                $("input[name='captcha']", this).val(value);
                      return value;
               },
               allowOutsideClick: () => !Swal.isLoading()
              }).then((result) => {
               if (!result.isConfirmed)
                return;

                  Swal.fire({
             title: 'Xin chờ đợi!',
             html: 'Hệ thống đang ghi nhận thông tin ..',
             didOpen: () => { Swal.showLoading(); },
                  });

                  $.post(window.location.pathname + "?contact",
                  {
                      __RequestVerificationToken: "@Root.AntiForgeryTokenForAjaxPost()",
                      Name: $("input[name='Name']").val(),
                      Email: $("input[name='Email']").val(),
                      ProcessNote: $("input[name='ProcessNote']").val(),
                      Message: $("textarea[name='Message']").val(),
                      captcha: result.value
                  },
                  function (data) {
             Swal.fire({
                 title: 'Chúc mừng!',
                 text: data,
                 type: "success"
             });
         })
         .fail(function (error) {
             Swal.fire({
                 title: 'Thôi xong!',
                 text: error.responseText,
                 type: "error"
             });
         });
              })
          });
  });
    </script>

}