@inherits MyWebPage
@using SLK.Common
@functions {
    [Component(Type = ComptType.Page_Template,
        ComptName = "en:Homepage template|vi:Mẫu trang chủ")]
    public class ViewModel
    {
        public string Title { get; set; }

        public IDictionary<string, string> Phrases { get; set; } = new Dictionary<string, string>();

        public string MetaDescription { get; set; }

        public string MetaKeywords { get; set; }

        public string CategoryPath { get; set; }

        public VM_Blog[] Items { get; set; }
        public VM_Product[] count { get; set; }
        public VM_Product[] RecentItems { get; set; }
        public PP_Category[] cat { get; set; }
        public PP_Comment[] comnet { get; set; }

        public class Baner
        {
            [Field(
            Title = "Hình ảnh",
            Required = false,
            Control = InputControlType.Image)]
            public string Iamge { get; set; }

        }
        [Field(
        Title = "Baner")]
        public Baner[] _banner { get; set; }

        public class News
        {
            [Field(
            Title = "Tiêu đề",
            Required = false,
            Control = InputControlType.TextBox)]
            public string Title { get; set; }

            [Field(
            Title = "Đường dẫn tin tức",
            Required = false,
            Control = InputControlType.Link)]
            public string Link { get; set; }

        }
        [Field(
        Title = "Tin tức")]
        public News _news { get; set; }

        public class About
        {
            [Field(
            Title = "Tiêu đề",
            Required = false,
            Control = InputControlType.TextBox)]
            public string Title { get; set; }

            [Field(
            Title = "Đường dẫn tin tức",
            Required = false,
            Control = InputControlType.Link)]
            public string Link { get; set; }

            public class List
            {
                [Field(
                Title = "Tiêu đề",
                Required = false,
                Control = InputControlType.TextBox)]
                public string Title { get; set; }

                [Field(
                Title = "Mô tả",
                Required = false,
                Control = InputControlType.TextBox)]
                public string Content { get; set; }

                [Field(
                Title = "Tiêu đề nút",
                Required = false,
                Control = InputControlType.TextBox)]
                public string Button { get; set; }

                [Field(
                Title = "Đường dẫn nút",
                Required = false,
                Control = InputControlType.Link)]
                public string Link { get; set; }

            }
            [Field(
            Title = "Danh sách")]
            public List[] _list { get; set; }
        }
        [Field(
        Title = "Giới thiệu")]
        public About _about { get; set; }


        public class Product
        {
            [Field(
            Title = "Tiêu đề",
            Required = false,
            Control = InputControlType.TextBox)]
            public string Title { get; set; }

            [Field(
  Title = "Đường dẫn",
  Required = false,
  Control = InputControlType.Link)]
            public string Link { get; set; }
        }
        [Field(
        Title = "Danh sách sản phẩm")]
        public Product _product { get; set; }

        public class Item
        {
            [Field(
            Title = "Tiêu đề",
            Required = false,
            Control = InputControlType.TextBox)]
            public string Title { get; set; }

            public class List
            {
                [Field(
                Title = "Tiêu đề",
                Required = false,
                Control = InputControlType.TextBox)]
                public string Title { get; set; }

                [Field(
                Title = "Hình ảnh",
                Required = false,
                Control = InputControlType.Image)]
                public string Image { get; set; }

                [Field(
                Title = "Mô tả",
                Required = false,
                Control = InputControlType.TextBox)]
                public string Content { get; set; }
            }
            [Field(
            Title = "Danh sách")]
            public List[] _list { get; set; }
        }
        [Field(
        Title = "Các loại hàng")]
        public Item _item { get; set; }

        public class Comment
        {
            [Field(
            Title = "Tiêu đề",
            Required = false,
            Control = InputControlType.TextBox)]
            public string Title { get; set; }

            public class List
            {
                [Field(
                Title = "Tiêu đề",
                Required = false,
                Control = InputControlType.TextBox)]
                public string Title { get; set; }

                [Field(
                Title = "Số sao",
                Required = false,
                Control = InputControlType.Number)]
                public int Star { get; set; }

                [Field(
                Title = "Tag name",
                Required = false,
                Control = InputControlType.TextBox)]
                public string TagName { get; set; }

                [Field(
                Title = "Hình ảnh",
                Required = false,
                Control = InputControlType.Image)]
                public string Image { get; set; }

                [Field(
                Title = "Mô tả",
                Required = false,
                Control = InputControlType.TextBox)]
                public string Content { get; set; }
            }
            [Field(
            Title = "Danh sách")]
            public List[] _list { get; set; }
        }
        [Field(
        Title = "Đánh giá")]
        public Comment _comment { get; set; }

        public static ViewModel Default => new ViewModel()
        {
            Title = "Trang chủ",


        };
    }/*end_viewmodel*/
    private ViewModel _data;
    private ViewModel Data => _data ?? (_data = ViewModel.Default);
    private MyTranslator Text => new MyTranslator(Data?.Phrases);

    private FieldExtractor<PP_Register> field = new FieldExtractor<PP_Register>();
    private PP_Register model = new PP_Register() { Status = "NEW" };
}

@{
    var query = Request.Url.Query;

    if (IsPost && query == "?register")
    {
        new Func<Action>(() =>
        {
            try
            {
                AntiForgery.Validate();
                string captcha = Request.Form[nameof(captcha)].ToLower();
                Validation.RequireField(field.GetName(t => t.Email));
                Validation.Add(field.GetName(t => t.Email), Validator.Regex("^[a-zA-Z0-9_\\.-]+@([a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,6}$"));
                if (!Validation.IsValid())
                {
                    return AjaxResult.BadRequest("Hãy nhập đầy đủ thông tin!");
                }

                if (captcha != this.Context.Session["CaptchaVerify"].ToString())
                {
                    return AjaxResult.BadRequest("Capcha không hợp lệ!");
                }

                var model = new PP_Register() { Status = "NEW" };
                model.Email = Request.Form[field.GetName(t => t.Email)].NullIfWhiteSpace();
                model.ProcessNote = Request.Form[field.GetName(t => t.ProcessNote)].NullIfWhiteSpace();

                model.ProcessNote = "Chưa xử lý";
                Db.Insert<PP_Register>(model);

                Response.Write("Cám ơn bạn đã gửi thông tin, chúng tôi sẽ phản hồi cho bạn sớm nhất có thể!");
                return () => Response.End();
            }
            catch (Exception ex)
            {
                return AjaxResult.BadRequest("Đã có lỗi xảy ra!");
            }
        })()();
    }

    _data = LoadData<ViewModel>(key: $"{LangId}-{FileName}#{NodeSlug}", setup: (model) =>
    {
        var page = Db.GetOne<PP_Page>(PageId);
        if(page == null) throw new HttpException(404, "Page not found");
        var link = model._news.Link.GetAfter("/");
        var category = Db.GetOne<PP_Category>(t => t.CategoryPath == link);
        if (category == null) return null;
        model.cat = Db.Table<PP_Category>().Where(x => x.NodeType == "post").ToArray();

        var arrCategory = Root.CategoryIndexes[category.Id].ToList();
        model.comnet = Db.Table<PP_Comment>().Where(x => x.Status == "SUCCESS").ToArray();

        var news =
(from cat_blog in Db.Table<PP_Category_details>()
 join catnew in Db.Table<PP_Category>() on cat_blog.Idcat equals catnew.Id
 join node in Db.Table<PP_Node>() on cat_blog.Idproduct equals node.Id
 where node.NodeType == "post"
 select new VM_Blog
 {
     JsonContent = node.Content,
     Title = node.Title,
     Path = node.NodePath,
     Summary = node.Content,
     ImageUrl = node.ImageUrl,
     CreatedTime = node.CreatedTime,
     CategoryId = catnew.Id,
     CategoryName = catnew.Title,
     CategoryPath = catnew.CategoryPath,
     catid = catnew.Id,
     listcat = node.listcat,
     idnode = cat_blog.Idproduct,

 })
.AsEnumerable()
.GroupBy(b => b.Title)
.Select(g => g.OrderByDescending(b => b.CreatedTime).First())
.OrderByDescending(b => b.CreatedTime)
.ToArray();

        var link2 = model._product.Link.GetAfter("/");
        var category2 = Db.GetOne<PP_Category>(t => t.CategoryPath == link2);
        if (category2 == null) return null;
        var arrCategory2 = Root.CategoryIndexes[category2.Id].ToList();

        var news2 =
(from cat_blog in Db.Table<PP_Category_details>()
 join catnew in Db.Table<PP_Category>() on cat_blog.Idcat equals catnew.Id
 join node in Db.Table<PP_Product>() on cat_blog.Idproduct equals node.Id
 where node.NodeType == "product" && arrCategory2.Contains(cat_blog.Idcat ?? 0)

 select new VM_Product
 {
     JsonContent = node.Content,
     Title = node.Title,
     Path = node.NodePath,
     Summary = node.Content,
     ImageUrl = node.ImageUrl,
     CreatedTime = node.CreatedTime,
     CategoryId = catnew.Id,
     BestSeller = node.BestSeller,
     CategoryName = catnew.Title,
     CategoryPath = catnew.CategoryPath,
     catid = catnew.Id,
     listcat = node.listcat,
     Price = node.Price,
     idnode = cat_blog.Idproduct,
     PromotionPrice = node.PromotionPrice,
     PromotionEnabled = node.PromotionEnabled,
 }).AsEnumerable()
.GroupBy(b => b.Title)
.Select(g => g.OrderByDescending(b => b.CreatedTime).First())
.OrderByDescending(b => b.CreatedTime)
.ToArray();


        model.Items = news;
        model.Title = page.Title;
        model.MetaDescription = page.MetaDescription;
        model.MetaKeywords = page.MetaKeywords;
        model.RecentItems = news2;
        return model;
    });
    Layout = $"~/_layouts/_layout.cshtml";
    Page.Title = Data.Title;
    Page.Description = Data.MetaDescription;
    Page.Keywords = Data.MetaKeywords;
    Page.IndexPageRunning = true;
}


<div class="page_content_wrap p-0">
    <div class="content_wrap_fullscreen">
        <div class="content">
            <a id="content_skip_link_anchor" class="globallogistics_skip_link_anchor" href="#"></a>
            <div data-elementor-type="wp-page" data-elementor-id="3438" class="elementor elementor-3438" data-elementor-post-type="page">
                <div class="row m-0 p-0">
                    <div class="col-lg-12 m-0 p-0 wow zoomIn">
                        <div class="f-carousel" id="myCarousel">
                            @foreach (var item in Data._banner.EmptyIfNull())
                            {
                                <div class="f-carousel__slide">
                                    <img src="@item.Iamge" alt="img" class="w-100 img-fluid" title="baner" />
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-b660cbb elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="b660cbb" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d7b9a3b sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="d7b9a3b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-82580bf sc_height_tiny sc_fly_static elementor-widget elementor-widget-spacer" data-id="82580bf" data-element_type="widget" data-widget_type="spacer.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                            <div class="elementor-spacer-inner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-6ba8477 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle sc_gradient_animation_none sc_fly_static" data-id="6ba8477" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a26d4e7 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="a26d4e7" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-4a5479a sc_fly_static elementor-widget elementor-widget-heading" data-id="4a5479a" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">@Data._news.Title</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-16dd839 elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="16dd839" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0eaaa40 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="0eaaa40" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-9746bf0 sc_height_tiny sc_fly_static elementor-widget elementor-widget-spacer" data-id="9746bf0" data-element_type="widget" data-widget_type="spacer.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                            <div class="elementor-spacer-inner"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-a80745d sc_fly_static elementor-widget elementor-widget-trx_widget_slider" data-id="a80745d" data-element_type="widget" data-widget_type="trx_widget_slider.default">
                                    <div class="elementor-widget-container">
                                        <div class="widget_area sc_widget_slider">
                                            <aside class="widget widget_slider">
                                                <div class="slider_wrap slider_engine_swiper">
                                                    <div class="slider_outer slider_swiper_outer slider_style_default slider_source_posts_post slider_outer_direction_horizontal slider_outer_multi slider_outer_nopagination slider_outer_controls slider_outer_controls_bottom slider_outer_nocentered slider_outer_overflow_hidden slider_outer_titles_center slider_outer_height_auto">
                                                        <div class="slider_container slider_swiper swiper-slider-container slider_direction_horizontal slider_nopagination slider_multi slider_type_images slider_controls slider_controls_bottom slider_nocentered slider_overflow_hidden slider_titles_center slider_resize slider_swipe slider_height_auto" data-ratio="1200:800" data-interval="7000" data-speed="600" data-effect="slide" data-pagination="bullets" data-direction="horizontal" data-slides-per-view="2" data-slides-space="50" data-slides-parallax="0" data-slides-centered="0" data-slides-overflow="0" data-mouse-wheel="0" data-autoplay="1" data-loop="1" data-free-mode="0" data-slides-min-width="220" data-slides-per-view-breakpoints="{&quot;999999&quot;:2}" data-slides-space-breakpoints="{&quot;999999&quot;:&quot;50&quot;}">
                                                            <div class="slider-wrapper swiper-wrapper woww zoomIn">
                                                                @foreach (var item in Data.Items.EmptyIfNull().Select((x, y) => new { x, y }))
                                                                {
                                                                    <div class="slider-slide swiper-slide with_titles" data-title="@item.x.Title" style="">
                                                                        <img decoding="async" src="@item.x.ImageUrl" alt="@item.x.ImageUrl">
                                                                        <div class="slide_info slide_info_small">
                                                                            <h3 class="slide_title">
                                                                                <a href="@item.x.Path">@item.x.Title</a>
                                                                            </h3>
                                                                            <div class="slide_number">0@(item.y + 1)</div>
                                                                        </div>
                                                                        <a href="@item.x.Path" class="slide_link"></a>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="slider_controls_wrap slider_arrows_wrap">
                                                            <a class="slider_prev slider_arrow_default swiper-button-prev" href="#"></a>
                                                            <a class="slider_next slider_arrow_default swiper-button-next" href="#"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </aside>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-c5a2ddd elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="c5a2ddd" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fc07cb7 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="fc07cb7" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-94e1dda sc_height_tiny sc_fly_static elementor-widget elementor-widget-spacer" data-id="94e1dda" data-element_type="widget" data-widget_type="spacer.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                            <div class="elementor-spacer-inner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-6ba8477 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle sc_gradient_animation_none sc_fly_static" data-id="6ba8477" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a26d4e7 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="a26d4e7" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-4a5479a sc_fly_static elementor-widget elementor-widget-heading" data-id="4a5479a" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">@Data._product.Title</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-9f06a26 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle animation_type_block sc_fly_static">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="row m-0 mt-3">
                            @foreach (var item in Data.RecentItems.EmptyIfNull().Select((x, y) => new { x, y }).Take(8))
                            {
                                <div class="col-lg-3 col-sm-6 col-12 mb-1 wow fadeIn" data-wow-duration="0.@(item.y + 5)s" data-wow-delay="0.@(item.y + 5)s">
                                    <article id="post-4179" data-post-id="4179" class="post_item post_item_container post_format_standard post_layout_classic post_layout_classic_3 post-4179 post type-post status-publish format-standard has-post-thumbnail hentry category-mua-ho category-tin-tuc category-van-chuyen-duong-bien category-van-chuyen-duong-hang-khong category-van-chuyen-hiwexpress category-van-chuyen-viet-han-1 category-van-chuyen-viet-han-2 category-van-chuyen-viet-han-3 category-van-hoa-han-quoc tag-han-viet tag-viet-han">
                                        <div class="post_featured with_thumb hover_link mb-0">
                                            <img fetchpriority="high" width="890" height="628" src="@item.x.ImageUrl" class="attachment-globallogistics-thumb-square size-globallogistics-thumb-square wp-post-image" alt="@item.x.Title" title="@item.x.Title" decoding="async">
                                            <div class="mask"></div>
                                            <a href="@item.x.Path" aria-hidden="true" class="link"></a>
                                            <button class="add-to-cart-button  product-action-cart font-14 " data-product-id="@item.x.idnode" data-product-title="@item.x.Title"><i class="fa-solid fa-plus"></i></button>
                                        </div>
                                        <div class="w-100 p-1">
                                            <h6 class=" limited-title mt-2 mb-2" title="@item.x.Title">@item.x.Title</h6>
                                            <div class="d-flex mb-2">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                            </div>
                                            <div class="d-flex mb-2">
                                                @if (item.x.PromotionEnabled == true)
                                                {
                                                    <h6 class="fw-bold mt-2 me-2">@item.x.PromotionPrice.ToString("#,##0") đ</h6>
                                                    @*<h5 class="text-danger mt-2 text-decoration-line-through">@item.x.Price.ToString("#,##0") đ</h5>*@
                                                }
                                                else
                                                {
                                                    <h6 class="fw-bold mt-2 me-2">@item.x.Price.ToString("#,##0") đ</h6>
                                                }

                                            </div>
                                        </div>
                                    </article>

                                </div>

                            }
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-ac7f82a elementor-section-full_width elementor-section-height-min-height elementor-section-items-stretch elementor-section-height-default sc_gradient_animation_none sc_fly_static" data-id="ac7f82a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-66d80ed sc_content_align_inherit sc_layouts_column_icons_position_left sc_gradient_animation_none sc_fly_static" data-id="66d80ed" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-9befc53 elementor-headline--style-rotate sc_fly_static elementor-widget elementor-widget-animated-headline" data-id="9befc53" data-element_type="widget" data-settings="{&quot;headline_style&quot;:&quot;rotate&quot;,&quot;animation_type&quot;:&quot;wave&quot;,&quot;rotating_text&quot;:&quot;UY T\u00cdN\nCHUY\u00caN NGHI\u1ec6P\nGIAO NHANH&quot;,&quot;loop&quot;:&quot;yes&quot;,&quot;rotate_iteration_delay&quot;:2500}" data-widget_type="animated-headline.default">
                                    <div class="elementor-widget-container">
                                        <h6 class="elementor-headline elementor-headline-animation-type-wave elementor-headline-letters">
                                            <span class="elementor-headline-plain-text elementor-headline-text-wrapper wow bounceInUp">@Data._about.Title</span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-c9f9bb1 scheme_light elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="c9f9bb1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ef61294 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="ef61294" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-d6c3dd0 sc_height_small sc_fly_static elementor-widget elementor-widget-spacer" data-id="d6c3dd0" data-element_type="widget" data-widget_type="spacer.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                            <div class="elementor-spacer-inner"></div>
                                        </div>
                                    </div>
                                </div>
                                <section class="elementor-section elementor-inner-section elementor-element elementor-element-2a37976 elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="2a37976" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-877debb sc_content_align_inherit sc_layouts_column_icons_position_left sc_gradient_animation_none sc_fly_static" data-id="877debb" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div data-animation-type="sequental" data-animation-stagger="" class="elementor-element elementor-element-875f625 animation_type_sequental sc_fly_static elementor-invisible elementor-widget elementor-widget-trx_sc_icons" data-id="875f625" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;globallogistics-fadeinup&quot;,&quot;_animation_delay&quot;:100}" data-widget_type="trx_sc_icons.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="sc_icons sc_icons_default sc_icons_size_small sc_align_center">
                                                            <div class="columns_padding_bottom row m-0">
                                                                @foreach (var item in Data._about._list.EmptyIfNull().Select((x, y) => new { x, y }))
                                                                {
                                                                    <div class="col-lg-3 col-6 wow fadeInUp" data-wow-delay="1.@(item.y + 1)s" data-wow-duration="1s">
                                                                        <div class="sc_icons_item sc_icons_item_linked with_more">
                                                                            <div class="@(item.y + 1  == 1 ? "sc_icons_icon sc_icon_type_ icon-dollar" : (item.y + 1 == 2 ? "sc_icons_icon sc_icon_type_ icon-delivery" : (item.y + 1 == 3 ? "sc_icons_icon sc_icon_type_ icon-cart-1" : "sc_icons_icon sc_icon_type_ icon-search-light" )) )">
                                                                                <span class=" @(item.y + 1  == 1 ? "sc_icon_type_ icon-dollar" : (item.y + 1 == 2 ? "sc_icon_type_ icon-delivery" : (item.y + 1 == 3 ? "sc_icon_type_ icon-cart-1" : "sc_icon_type_ icon-search-light" )) ) "></span>
                                                                            </div>
                                                                            <div class="sc_icons_item_details">
                                                                                <h4 class="sc_icons_item_title" style="color:#FF0000;">
                                                                                    <a href="@item.x.Link" title="@item.x.Title">
                                                                                        @item.x.Title
                                                                                    </a>
                                                                                </h4>
                                                                                <div class="sc_icons_item_description" style="color:#000000;">
                                                                                    <span>@item.x.Content</span>
                                                                                </div>
                                                                                <a href="@item.x.Link" title="@item.x.Title" class="sc_icons_item_more_link">
                                                                                    <span class="link_text">@item.x.Button</span><span class="link_icon"></span>
                                                                                </a>
                                                                                <a href="@item.x.Link" title="@item.x.Title" class="sc_icons_item_link">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div><!-- /.sc_icons -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <div class="elementor-element elementor-element-b996017 sc_height_small sc_fly_static elementor-widget elementor-widget-spacer" data-id="b996017" data-element_type="widget" data-widget_type="spacer.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                            <div class="elementor-spacer-inner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="elementor-element mt-lg-4 mb-lg-4 mb-2 mt-2 elementor-element-fe8f0ad sc_fly_static elementor-widget elementor-widget-heading" data-id="fe8f0ad" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <div class="row">
                            <div class="col-lg-12  text-center">
                                <h4 class="elementor-heading-title elementor-size-default wow fadeIn" data-wow-duration="0.4s" data-wow-delay="0.3s">@Data._item.Title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-9f06a26 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle animation_type_block sc_fly_static">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="row m-0">
                            @foreach (var item in Data._item._list.EmptyIfNull().Select((x, y) => new { x, y }))
                            {
                                <div class="col-lg-3 col-sm-6 col-12 mb-1 wow fadeIn" data-wow-duration="0.@(item.y + 5)s" data-wow-delay="0.@(item.y + 5)s">
                                    <div class="row m-0">
                                        <div class="col-lg-12">
                                            <div class="elementor-widget-container">
                                                <img loading="lazy" decoding="async" width="800" height="800" src="@item.x.Image" class="attachment-large size-large wp-image-3750" alt="@item.x.Title">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-2">
                                            <h6 class="elementor-heading-title elementor-size-default">@item.x.Title</h6>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-d1728d9 elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="d1728d9" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4f76e3d sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="4f76e3d" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-1fb5a77 sc_height_small sc_fly_static elementor-widget elementor-widget-spacer" data-id="1fb5a77" data-element_type="widget" data-widget_type="spacer.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                            <div class="elementor-spacer-inner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-3b7a937 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle sc_fly_static" data-id="3b7a937" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1edc3fc sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="1edc3fc" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-22859b7 sc_fly_static elementor-widget elementor-widget-heading" data-id="22859b7" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">@Data._comment.Title</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-97a0cbe sc_height_tiny sc_fly_static elementor-widget elementor-widget-spacer" data-id="97a0cbe" data-element_type="widget" data-widget_type="spacer.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                            <div class="elementor-spacer-inner"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-0f19b32 elementor-arrows-yes elementor-pagination-type-bullets elementor-review--has-separator elementor--star-style-star_fontawesome sc_fly_static elementor-widget elementor-widget-reviews" data-id="0f19b32" data-element_type="widget" data-settings="{&quot;show_arrows&quot;:&quot;yes&quot;,&quot;pagination&quot;:&quot;bullets&quot;,&quot;speed&quot;:500,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;loop&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]}}" data-widget_type="reviews.default">
                                    <div class="elementor-widget-container">
                                        <div class="f-carousel1" id="myCarousel1" style="background-color:white">
                                            @foreach (var item in Data._comment._list.EmptyIfNull())
                                            {
                                                <div class="f-carousel__slide">
                                                    <div class="elementor-testimonial elementor-repeater-item-6b985f7">
                                                        <div class="elementor-testimonial__header">
                                                            <div class="elementor-testimonial__image">
                                                                <img decoding="async" src="@item.Image" alt="@item.Title">
                                                            </div>
                                                            <cite class="elementor-testimonial__cite">
                                                                <span class="elementor-testimonial__name">@item.Title</span>
                                                                <div class="elementor-star-rating">
                                                                    @for (int i = 0; i < item.Star; i++)
                                                                    {
                                                                        <i class="elementor-star-full">&#xE934;</i>
                                                                    }
                                                                </div>
                                                                <span class="elementor-testimonial__title">@item.TagName</span>
                                                            </cite>
                                                            <div class="elementor-testimonial__icon elementor-icon elementor-icon-facebook" aria-label="Read More">
                                                                <i aria-hidden="true" class="fab fa-facebook"></i>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-testimonial__content">
                                                            <div class="elementor-testimonial__text">
                                                                @item.Content
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-0e543e7 elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="0e543e7" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-extended">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3c4419e sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="3c4419e" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-50850cc sc_fly_static elementor-widget elementor-widget-spacer" data-id="50850cc" data-element_type="widget" data-widget_type="spacer.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                            <div class="elementor-spacer-inner"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<a id="footer_skip_link_anchor" class="globallogistics_skip_link_anchor" href="#"></a>
@section scripts{
    <script>
        new Carousel(document.getElementById("myCarousel"), {
            Autoplay: {
                timeout: 2000
            }
        }, {
            Autoplay
        });
        new Carousel(document.getElementById("myCarousel1"), {
            Autoplay: {
                timeout: 2000
            }
        }, {
            Autoplay
        });
    </script>
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                var pw = document.getElementById(e.c).parentNode.offsetWidth,
                    newh;
                pw = pw === 0 || isNaN(pw) ? window.innerWidth : pw;
                e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
                e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
                e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
                e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
                e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
                e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
                e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
                if (e.layout === "fullscreen" || e.l === "fullscreen")
                    newh = Math.max(e.mh, window.innerHeight);
                else {
                    e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
                    for (var i in e.rl) if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
                    e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
                    e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
                    for (var i in e.rl) if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];

                    var nl = new Array(e.rl.length),
                        ix = 0,
                        sl;
                    e.tabw = e.tabhide >= pw ? 0 : e.tabw;
                    e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
                    e.tabh = e.tabhide >= pw ? 0 : e.tabh;
                    e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
                    for (var i in e.rl) nl[i] = e.rl[i] < window.innerWidth ? 0 : e.rl[i];
                    sl = nl[0];
                    for (var i in nl) if (sl > nl[i] && nl[i] > 0) { sl = nl[i]; ix = i; }
                    var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);

                    newh = (e.type === "carousel" && e.justify === "true" ? e.gh[ix] : (e.gh[ix] * m)) + (e.tabh + e.thumbh);
                }

                if (window.rs_init_css === undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
                document.getElementById(e.c).height = newh;
                window.rs_init_css.innerHTML += "#" + e.c + "_wrapper { height: " + newh + "px }";
            } catch (e) {
                console.log("Failure at Presize of Slider:" + e)
            }
        };</script>
} 