@inherits MyWebPage
@using SLK.Common
@functions {
    [Component(Type = ComptType.Page_Element,
        ComptName = "en:Page header component|vi:Thành phần đầu trang")]
    public class ViewModel
    {
        public IDictionary<string, string> Phrases { get; set; } = new Dictionary<string, string>();


        public static ViewModel Default => new ViewModel()
        {


        };
    }/*end_viewmodel*/
    private ViewModel _data;
    private ViewModel Data => _data ?? (_data = ViewModel.Default);
    private MyTranslator Text => new MyTranslator(Data?.Phrases);
}
@{
    _data = LoadData<ViewModel>(key: $"{LangId}-{FileName}");
    Layout = IsDirectCall ? "~/_layouts/_empty.cshtml" : null;
    var query = Request.Url.Query;
    var cart = new ShoppingCart(this.Context);
}
<header class="top_panel top_panel_default without_bg_image">
    <div data-elementor-type="cpt_layouts" data-elementor-id="3413" class="elementor elementor-3413" data-elementor-post-type="cpt_layouts">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-0e8aff4 elementor-section-full_width elementor-section-content-middle sc_layouts_row sc_layouts_row_type_compact sc_layouts_hide_on_tablet sc_layouts_hide_on_mobile elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="0e8aff4" data-element_type="section">
            <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-da67574 sc_layouts_column_align_left sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="da67574" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="sc_layouts_item elementor-element elementor-element-a22dd0e sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_logo" data-id="a22dd0e" data-element_type="widget" data-widget_type="trx_sc_layouts_logo.default">
                            <div class="elementor-widget-container">
                                <a href="#" class="sc_layouts_logo sc_layouts_logo_default trx_addons_inline_766195019"><img class="logo_image" src="@Root.Config.Logo" srcset="@Root.Config.Logo" alt="@Root.Config.WebTitle" width="451" height="95"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-852d8bf sc_layouts_column_align_center sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="852d8bf" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="sc_layouts_item elementor-element elementor-element-7de7f6b sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_menu" data-id="7de7f6b" data-element_type="widget" data-widget_type="trx_sc_layouts_menu.default">
                            <div class="elementor-widget-container">
                                <nav class="sc_layouts_menu sc_layouts_menu_default sc_layouts_menu_dir_horizontal menu_hover_zoom_line" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                    <ul id="menu_main" class="sc_layouts_menu_nav menu_main_nav">
                                        @foreach (var item in Root.Config.MainMenus.EmptyIfNull())
                                        {

                                            <li class="menu-item menu-item-type-custom menu-item-object-custom @((Request.Url.AbsolutePath.TrimEnd('/') == item.Href.TrimEnd('/')) ? "current-menu-item" : "") current_page_item menu-item-home"><a href="@item.Href" aria-current="page" title="@item.Title"><span>@item.Title</span></a></li>

                                        }
                                        <li>
                                            <div class="menu-cart-wrapper">
                                                <div class="menu-cart-icon">
                                                    <a class="cart-active">
                                                        <i class="fa-solid fa-cart-shopping"></i>

                                                    </a>
                                                    <div class="cart-count"><span class="cart-count1">@cart.GetCartLines().Sum(x => x.Quantity)</span></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="elementor-section elementor-top-section elementor-element elementor-element-e3bdce2 elementor-section-content-middle sc_layouts_row sc_layouts_row_type_compact sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static" data-id="e3bdce2" data-element_type="section">
            <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5d73a1c sc_layouts_column_align_left sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="5d73a1c" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="sc_layouts_item elementor-element elementor-element-248be5c sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_logo" data-id="248be5c" data-element_type="widget" data-widget_type="trx_sc_layouts_logo.default">
                            <div class="elementor-widget-container">
                                <a href="#" class="sc_layouts_logo sc_layouts_logo_default trx_addons_inline_961151386"><img class="logo_image" src="@Root.Config.Logo" srcset="@Root.Config.Logo" alt="@Root.Config.WebTitle" width="451" height="95"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8086eba sc_layouts_column_align_right sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static" data-id="8086eba" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="sc_layouts_item elementor-element elementor-element-f59695e sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_menu" data-id="f59695e" data-element_type="widget" data-widget_type="trx_sc_layouts_menu.default">
                            <div class="elementor-widget-container">
                                <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button_burger sc_layouts_menu_mobile_button">
                                    <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
                                        <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="sc_layouts_item elementor-element elementor-element-52086e4 sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_search" data-id="52086e4" data-element_type="widget" data-widget_type="trx_sc_layouts_search.default">
                            <div class="elementor-widget-container">
                                <div class="sc_layouts_search">
                                    <div class="search_modern">
                                        <span class="search_submit"></span>
                                        <div class="search_wrap scheme_dark">
                                            <div class="search_header_wrap">
                                                <img class="logo_image" src="@Root.Config.Logo" srcset="@Root.Config.Logo" alt="@Root.Config.WebTitle">                <a class="search_close"></a>
                                            </div>
                                            <div class="search_form_wrap">
                                                <form role="search" method="get" class="search_form" action="https://nhblogistics.com/">
                                                    <input type="hidden" value="" name="post_types">
                                                    <input type="text" class="search_field" placeholder="Type words and hit enter" value="" name="s">
                                                    <button type="submit" class="search_submit"></button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="search_overlay scheme_dark"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_layouts_item elementor-element elementor-element-d4f79ee sc_layouts_hide_on_mobile elementor-view-default sc_fly_static elementor-widget elementor-widget-icon" data-id="d4f79ee" data-element_type="widget" data-widget_type="icon.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-icon-wrapper">
                                    <a class="elementor-icon" href="#popup-1">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>

<div class="menu_mobile_overlay scheme_dark"></div>
<div class="menu_mobile menu_mobile_fullscreen scheme_dark">
    <div class="menu_mobile_inner with_widgets">
        <div class="menu_mobile_header_wrap">
            <a class="sc_layouts_logo" href="index.htm">
                <img src="@Root.Config.Logo" srcset="@Root.Config.Logo" alt="@Root.Config.WebTitle" width="451" height="95">
            </a>

            <a class="menu_mobile_close menu_button_close" tabindex="0"><span class="menu_button_close_text">Close</span><span class="menu_button_close_icon"></span></a>
        </div>
        <div class="menu_mobile_content_wrap content_wrap">
            <div class="menu_mobile_content_wrap_inner without_socials">
                <nav class="menu_mobile_nav_area" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                    <ul id="menu_mobile" class=" menu_mobile_nav">
                        @foreach (var item in Root.Config.MainMenus.EmptyIfNull())
                        {
                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-373">
                                <a href="@item.Href" aria-current="page" title="@item.Title"><span>@item.Title</span></a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div><div class="menu_mobile_widgets_area">
            <div class="widgets_additional_menu_mobile_fullscreen widgets_additional_menu_mobile_fullscreen_wrap widget_area">
                <div class="widgets_additional_menu_mobile_fullscreen_inner widgets_additional_menu_mobile_fullscreen_inner widget_area_inner">
                    @*<aside class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="extra_item">
                                    <h6>Have a Project?</h6>
                                    <a href="mailto:info@website.com">info@website.com</a>
                                </div>

                                <div class="extra_item">
                                    <h6>Want to Work With Us?</h6>
                                    <a href="http://localhost/nhblogistics/contact-us/">Send Brief</a>
                                </div>

                                <div class="extra_item">
                                    <h6>Interested in Our Services?</h6>
                                    <a href="http://localhost/nhblogistics/pricing/">View Pricing</a>
                                </div>
                            </div>
                        </aside>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-cart-active" >
    @RenderPage("/_compt/layout_sidebar.cshtml")
    </div>
